*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --paragraph-color: #6C757D;
    --bg-section-color:#e9ecef;
    --white-color: #ffffff;
    --black-color:#000000;
}
.bg-section{
    background-color: var(--bg-section-color);
}
section{
    padding: 70px 20px;
}
p{
    color: var(--paragraph-color);
    font-size: 1.10em;
    line-height: 1.5em;
}
/* start-section-header */
.header{
    background-image: url(../img/cover.webp);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.layer{
    background-color: rgba(0, 0, 0, 0.664);
}
.header-content h1{
    font-size: 3em;
    font-weight: 900;
}
.header-content p{
    margin: 70px;
    font-size: 3.5em;
    font-weight: 300;
    color: var(--white-color);
    position: relative
}
.header-content p::after{
    content:"|";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    animation-name: islam;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
}
@keyframes islam {
    0% {
      content: "Free";
    }
    2% {
      content: "Fre|";
    }
    4% {
      content: "Fr";
    }
    6% {
      content: "F";
    }
    8% {
      content: "|";
    }
    10% {
      content: "";
    }
    12% {
      content: "J|";
    }
    14% {
      content: "Ju";
    }
    16% {
      content: "Jun|";
    }
    18% {
      content: "Juni";
    }
    20% {
      content: "Junio|";
    }
    22% {
      content: "Junior";
    }
    24% {
      content: "Junior |";
    }
    26% {
      content: "JuniorF";
    }
    28% {
      content: "JuniorFr|";
    }
    30% {
      content: "JuniorFro";
    }
    32% {
      content: "JuniorFron|";
    }
    34% {
      content: "JuniorFront";
    }
    36% {
      content: "JuniorFront|";
    }
    38% {
      content: "JuniorFrontE";
    }
    40% {
      content: "JuniorFrontEn|";
    }
    42% {
      content: "JuniorFrontEnd";
    }
    44% {
      content: "JuniorFront|";
    }
    46% {
      content: "JuniorFron";
    }
    48% {
      content: "JuniorFro|";
    }
    50% {
      content: "JuniorFr";
    }
    52% {
      content: "JuniorF|";
    }
    54% {
      content: "Junior ";
    }
    56% {
      content: "Junior|";
    }
    58% {
      content: "";
    }
    60% {
      content: "I|";
    }
    62% {
      content: "Is";
    }
    64% {
      content: "Isl|";
    }
    66% {
      content: "Isla";
    }
    68% {
      content: "Islam|";
    }
    70% {
      content: "IslamAb";
    }
    72% {
      content: "IslamAbd|";
    }
    74% {
      content: "IslamAbdu";
    }
    76% {
      content: "IslamAbdul|";
    }
    78% {
      content: "IslamAbdull";
    }
    80% {
      content: "IslamAbdulla|";
    }
    82% {
      content: "IslamAbdullah";
    }
    84% {
      content: "IslamAbdulla|";
    }
    86% {
      content: "IslamAbdul";
    }
    88% {
      content: "IslamAbdu|";
    }
    90% {
      content: "IslamAb";
    }
    92% {
      content: "IslamA|";
    }
    94% {
      content: "Islam";
    }
    96% {
      content: "Isla|";
    }
    98% {
      content: "Isl";
    }
    100% {
      content: "Is|";
    }
} 
.header-icon{
    padding-top: 70px;
}
.header-icon div{
    height: 40px;
    width: 40px;
}
/* start-section-about-me */
.btn-1{
    background-color: var(--black-color);
    color: var(--white-color);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.btn-1:hover{
    background-color: var(--white-color);
    color: rgb(176, 201, 216);
    border: var(--black-color) solid 1px;
}
.btn-2{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.btn-2:hover{
    background-color: var(--black-color);
    color: var(--white-color);

}
/* start-section-services */
.section-head h1{
    font-size:3.5em;
}
.icon{
    font-size: 1.5em;
    background-color: var(--bg-section-color);
    padding: .8em;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.card:hover .icon{
    background-color: var(--black-color);
    color: var(--white-color);
}
/* start-section-portfolio */
.portfolio .nav .nav-item .nav-link{
    color: var(--black-color);
    font-size: 1.5em;
    font-weight: 600;
}
.portfolio .nav .nav-item .active{
    border-bottom: var(--black-color) solid .1em;
    border-radius: 13%;
    -webkit-border-radius: 13%;
    -moz-border-radius: 13%;
    -ms-border-radius: 13%;
    -o-border-radius: 13%;
}
.layer-card{
    opacity: 0;
    border: var(--black-color) solid 0em;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.layer-card:hover{
    opacity: 1;
    border: var(--black-color) solid .35em;
    
}
/* start-section-Testimonials */
.carousel-indicators{
    margin-bottom: -40px;
}
.slider{
    background-color: var(--paragraph-color) !important;
    height: 10px !important;
    width: 10px !important; 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* start-section-Blog */
.parent-img{
    overflow: hidden;
}
.card-blog img{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.card-blog img:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}